body {
   background-color: #F8F9FB;
}
button {
  background-color: transparent;
  outline: none;
}
.margin {
  display: flex;
  position: absolute;
  justify-content: space-around;
  color: #808080;
  background: #fffff0;
  font-weight: 600;
}
.marginColumnLeft {
  padding: 25px 7px;
  flex-direction: column;
  height: 480px;
}
.marginColumnRight {
  padding: 27px 7.5px;
  flex-direction: column;
  height: 480px;
  top: 0;
  left: 510px;
  transform: rotate(180deg);
}
.marginRowTop {
  width: 480px;
  height: 21px;
  padding: 2px 27px;
  transform: rotate(180deg);
}
.marginRowBottom {
  width: 480px;
  height: 21px;
  padding: 2px 27px;
  margin-top: -25px;
}